@charset "UTF-8";
@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Thin"), url("../fonts/roboto-thin.woff2") format("woff2"), url("../fonts/roboto-thin.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Light"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Medium"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Bold"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto Black"), url("../fonts/roboto-black.woff2") format("woff2"), url("../fonts/roboto-black.woff") format("woff");
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: 0.67em 0; 

  font-size: 2em;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  /* 1 */
  font-size: 1em;
  font-family: monospace, monospace;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  /* 1 */
  text-decoration: underline;
  text-decoration: underline dotted;

  border-bottom: none;
  /* 2 */

  -webkit-text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  /* 1 */
  font-size: 1em;
  font-family: monospace, monospace;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  /* 1 */
  margin: 0;
  /* 1 */

  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  font-family: inherit;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0; 

  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  /* 2 */
  display: table;
  box-sizing: border-box;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 1 */

  color: inherit;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  /* 1 */
  outline-offset: -2px;

  -webkit-appearance: textfield;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  /* 1 */
  font: inherit;

  -webkit-appearance: button;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Custom styles */
body {
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;

  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;

  background-color: #eff2f9;
}

a {
  text-decoration: none;
}

a[href] {
  outline: none;

  transition: all 0.3s ease-in-out;
}

a[href]:active:not(:disabled) {
  opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
}

.cropped {
  overflow: hidden;
}

.hidden,
.inactive {
  display: none;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0; 

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.login-popup__board,
.feedback-popup__board {
  display: table;
  margin: 30px auto;
}

.login-popup__board--interactive,
.feedback-popup__board--interactive {
  position: absolute;
  top: 0;
  left: 50%;

  display: block;
  margin: 0;
}

.login-popup--interactive,
.feedback-popup--interactive,
.error--interactive {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.5);
}

.login-popup__board--interactive,
.feedback-popup__board--interactive,
.error__board--interactive {
  position: absolute;
  top: 0;
  left: 50%;

  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  -webkit-animation: down-slide 0.6s;
  animation: down-slide 0.6s;
}

.login-popup__board--mini,
.feedback-popup__board--mini,
.error__board--mini {
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 

  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -1000%);
    transform: translate(-50%, -1000%);
  }

  70% {
    -webkit-transform: translate(-50%, -46%);
    transform: translate(-50%, -46%);
  }

  90% {
    -webkit-transform: translate(-50%, -51%);
    transform: translate(-50%, -51%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -1000%);
    transform: translate(-50%, -1000%);
  }

  70% {
    -webkit-transform: translate(-50%, -46%);
    transform: translate(-50%, -46%);
  }

  90% {
    -webkit-transform: translate(-50%, -51%);
    transform: translate(-50%, -51%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes down-slide {
  0% {
    -webkit-transform: translate(-50%, -1000%);
    transform: translate(-50%, -1000%);
  }

  100% {
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
}

@keyframes down-slide {
  0% {
    -webkit-transform: translate(-50%, -1000%);
    transform: translate(-50%, -1000%);
  }

  100% {
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
}

.page-header {
  position: relative;

  background-color: #fcfdff;
}

.page-header__logo {
  display: block;
  padding: 16px 14px 12px;
}

.page-header__menu-opener {
  position: absolute;
  top: 28px;
  right: 21px;

  width: 24px;
  height: 18px;

  font: inherit;

  background-color: transparent;
  background-image: linear-gradient(#123885 4px, transparent 4px, transparent 7px, #123885 7px, #123885 11px, transparent 11px, transparent 14px, #123885 14px);
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-header__menu-opener:hover,
.page-header__menu-opener:focus {
  background-image: linear-gradient(#fbf239 4px, transparent 4px, transparent 7px, #fbf239 7px, #fbf239 11px, transparent 11px, transparent 14px, #fbf239 14px);
}

.page-header__menu-opener:disabled {
  cursor: default;
}

.page-header__menu-opener:active:not(:disabled) {
  opacity: 0.6;
}

.menu {
  position: relative;

  color: #ffffff;
}

.menu__board {
  padding: 24px;

  background-color: #123885;
}

.menu__board--interactive {
  position: absolute;
  top: 0;
  right: 0;

  width: calc(100% - 72px);
  min-height: 100vh;
  padding: 0 24px;
}

.menu__categories {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 30px 0 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.menu__category {
  margin-right: 20px;
}

.menu__category-link {
  display: block;
  padding-bottom: 5px;

  color: #ffffff;

  border-bottom: solid 4px transparent;
  opacity: 0.2;
}

.menu__category-link:hover,
.menu__category-link:focus,
.menu__category-link--active {
  border-color: #fbf239;
  opacity: 1;
}

.menu__closer {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 29px;
  height: 29px; 

  font: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__closer:disabled {
  cursor: default;
}

.menu__closer:active:not(:disabled) {
  opacity: 0.6;
}

.menu__closer::before,
.menu__closer::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #8cabe8;
}

.menu__closer::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__closer::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu__closer:hover:not(:disabled)::before,
.menu__closer:hover:not(:disabled)::after,
.menu__closer:focus::before,
.menu__closer:focus::after {
  background-color: #fbf239;
}

.menu__nav {
  margin-bottom: 64px;
}

.menu__services {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__services-item {
  position: relative;

  margin-right: 8px;
}

.menu__btn {
  display: block;
  padding: 0;
  overflow: hidden;

  font: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__btn:disabled {
  cursor: default;
}

.menu__btn:active:not(:disabled) {
  opacity: 0.6;
}

.menu__btn-content {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  width: 30px;
  height: 30px;

  white-space: nowrap;
  text-indent: 100px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat; 
  border: solid 2px rgba(233, 233, 233, 0.2);
  border-radius: 50%;

  pointer-events: none;
}

.menu__btn-content--user {
  background-position: -255px -140px;
}

.menu__btn-content--telephone {
  background-position: -166px -180px;
}

.menu__btn-content--search {
  background-position: -256px -43px;
}

.menu__btn:hover .menu__btn-content,
.menu__btn:focus .menu__btn-content {
  background-color: #fbf239;
  border-color: #fbf239;
}

.menu__label {
  position: absolute;
  top: 42px;
  right: -1px;

  display: block;
  padding: 9px 10px;

  font-size: 12px;
  line-height: 12px;
  color: #fcfdff;
  white-space: nowrap;

  background-color: #000000; 

  clip: rect(0 0 0 0);
}

.menu__contacts {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;

  font-weight: 300;
}

.menu__city {
  font-weight: 900;
  text-transform: uppercase;
}

.menu__city-toggler {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
}

.menu__city-toggler::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  box-sizing: border-box;
  width: 7px;
  height: 7px;

  color: #ffffff;

  border-bottom: solid 2px;
  border-left: solid 2px; 
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu__city-toggler:hover::before,
.menu__city-toggler:focus::before {
  color: #fbf239;
}

.menu__tel {
  display: block;
  width: 100%;
  margin-top: 10px;

  color: #ffffff;
}

.menu__tel:hover,
.menu__tel:focus {
  color: #fbf239;
}

.menu--interactive {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.5);
}

.nav__main {
  margin: 28px 0 20px;
  padding: 0;

  list-style: none;
}

.nav__main-item {
  position: relative;

  border-bottom: solid 1px rgba(245, 245, 245, 0.2);
}

.nav__main-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 46px;
  color: #fcfdff;
}

.nav__main-link:hover,
.nav__main-link:focus,
.nav__main-link--active {
  color: #fbf239;
}

.nav__toggler-content {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;

  white-space: nowrap;
  text-indent: 100px;

  border: solid 1px;
  border-color: inherit;
  border-radius: 50%;
}

.nav__toggler-content::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 6px;

  box-sizing: border-box;
  width: 7px;
  height: 7px;

  color: #ffffff;

  border-bottom: solid 2px;
  border-left: solid 2px;
}

.nav__main-toggler {
  position: absolute;
  top: 12px;
  right: -7px;

  overflow: hidden;

  font: inherit;

  background-color: transparent;
  border: none;
  border-color: rgba(255, 255, 255, 0.2);
  outline: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav__main-toggler:hover,
.nav__main-toggler:focus {
  border-color: rgba(251, 242, 57, 0.2);
}

.nav__main-toggler:disabled {
  cursor: default;
}

.nav__main-toggler:active:not(:disabled) {
  opacity: 0.6;
}

.nav__main-toggler:hover .nav__toggler-content::before,
.nav__main-toggler:focus .nav__toggler-content::before,
.nav__main-toggler--active .nav__toggler-content::before {
  color: #fbf239;
}

.nav__main-toggler--active {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav__main-sub-menu {
  margin: -8px 0 21px;
  padding: 0;

  list-style: none;
}

.nav__sub-link {
  line-height: 26px;
  color: rgba(140, 171, 232, 0.8);
}

.nav__sub-link:hover,
.nav__sub-link:focus {
  color: #fbf239;
}

.nav__advanced {
  position: relative;
  left: -24px;

  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 24px);
  margin: 0;
  padding: 0 0 0 24px;

  list-style: none;
}

.nav__advanced-item {
  position: relative;

  margin-right: 10px;
  padding-right: 11px;
}

.nav__advanced-item::after {
  content: "";

  position: absolute;
  top: 7px;
  right: 0;

  width: 1px;
  height: 12px;

  background-color: rgba(140, 171, 232, 0.8);
}

.nav__advanced-item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.nav__advanced-item:last-child::after {
  content: none;
}

.slider {
  position: relative;
}

.slider__tabs {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #4c4e54;
}

.slider__tab {
  position: relative;

  box-sizing: border-box;
  padding: 12px 62px 8px;

  text-align: center;

  background-color: #d0c4bf;
  background-position: right top;
  background-size: cover;
}

.slider__tab--interactive {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.slider__tab--current {
  z-index: 2;

  opacity: 1;
}

.slider__tab::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #20222a;
  opacity: 0.8;
}

.slider__tab:nth-child(3) {
  background-image: url("../img/slider-3-mobile.jpg");
  background-repeat: no-repeat;
}

.slider__title {
  position: relative;
  z-index: 1;

  margin: 0;
  padding-bottom: 1px;

  font-weight: 700;
  font-size: 18px;
  color: #eff2f9;

  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.slider__descr {
  position: relative;
  z-index: 1;

  margin: 1px 0 0;

  font-weight: 100;
  font-size: 11px;
  line-height: 12px;
  color: #ffffff;
}

.slider__pins {
  display: none;

  list-style: none;
}

.slider__pins-item {
  margin: 0 4px;
}

.slider__pin {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;

  font: inherit;

  background-color: #ffffff;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__pin:disabled {
  cursor: default;
}

.slider__pin:active:not(:disabled) {
  opacity: 0.6;
}

.slider__pin:hover,
.slider__pin:focus,
.slider__pin--active {
  background-color: transparent;
  border: solid 4px #fbf239;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 2;

  overflow: hidden;

  font: inherit;
  color: #ffffff;

  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__btn:disabled {
  cursor: default;
}

.slider__btn:active:not(:disabled) {
  opacity: 0.6;
}

.slider__btn:hover,
.slider__btn:focus {
  color: #fbf239;
}

.slider__btn--prev {
  left: 19px;
}

.slider__btn--prev .slider__btn-content::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider__btn--next {
  right: 12px;
}

.slider__btn--next .slider__btn-content::before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.slider__btn-content {
  position: relative;
  top: 6px;
  left: 0;

  display: block;
  width: 24px;
  height: 24px;

  white-space: nowrap; 
  text-indent: 100px;
}

.slider__btn-content::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 14px;
  height: 14px;

  border-bottom: solid 4px;
  border-left: solid 4px;
}

.offers {
  padding: 42px 0 0;

  text-align: center;

  background-color: #f0f2f9;
}

.offers__header {
  margin: 0 60px 26px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #182a6f;
}

.offers__pins {
  position: relative;
  z-index: 3;

  display: inline-flex;
  margin: 0 auto 20px;
  padding: 0;

  list-style: none;
}

.offers__pins-item:nth-child(n + 5) {
  display: none;
}

.offers__pin {
  position: relative;

  display: block;
  width: 78px;
  height: 105px;
  padding: 0;
  overflow: visible;

  font: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #6e6e6e;
  text-overflow: ellipsis;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.offers__pin::after {
  position: absolute;
  bottom: -39px;
  left: 50%;

  border: solid 19px transparent;
  border-top-color: #f0f2f9;
  border-bottom: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.offers__pin:hover:not(:disabled),
.offers__pin:focus,
.offers__pin--active {
  color: #263b82;
}

.offers__pin:disabled {
  cursor: default;
}

.offers__pin:active:not(:disabled) {
  opacity: 0.6;
}

.offers__pin--call {
  padding: 0 8px;
}

.offers__pin-content {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  box-sizing: border-box;
  height: 105px;
}

.offers__pin-content::before {
  content: "";

  display: block;
  width: 62px;
  height: 62px;
  margin: 0 auto 11px;

  background-color: #263b82;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat; 
  border-radius: 50%;
}

.offers__pin:hover:not(:disabled) .offers__pin-content::before,
.offers__pin:focus .offers__pin-content::before,
.offers__pin--active .offers__pin-content::before {
  background-color: #fbf239;
}

.offers__pin-content--retail::before {
  background-position: -118px -42px;
}

.offers__pin:hover:not(:disabled) .offers__pin-content--retail::before,
.offers__pin:focus .offers__pin-content--retail::before,
.offers__pin--active .offers__pin-content--retail::before {
  background-position: -118px 18px;
}

.offers__pin-content--wifi::before {
  background-position: -182px 18px;
}

.offers__pin:hover:not(:disabled) .offers__pin-content--wifi::before,
.offers__pin:focus .offers__pin-content--wifi::before,
.offers__pin--active .offers__pin-content--wifi::before {
  background-position: -182px -39px;
}

.offers__pin-content--call::before {
  background-position: -178px -100px;
}

.offers__pin:hover:not(:disabled) .offers__pin-content--call::before,
.offers__pin:focus .offers__pin-content--call::before,
.offers__pin--active .offers__pin-content--call::before {
  background-position: 17px -170px;
}

.offers__pin-content--logistic::before {
  background-position: 10px -111px;
}

.offers__pin:hover:not(:disabled) .offers__pin-content--logistic::before,
.offers__pin:focus .offers__pin-content--logistic::before,
.offers__pin--active .offers__pin-content--logistic::before {
  background-position: -61px -111px;
}

.offers__pin-label {
  display: block;
}

.offers__tabs {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.offers__tab {
  padding-bottom: 36px;

  text-align: left;

  background-color: #d8dbe6;
}

.offers__tab--interactive {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.offers__tab--current {
  z-index: 2;

  opacity: 1;
}

.offers__tab::before {
  position: absolute;
  top: 61px;
  left: 9px;

  width: 270px;
  height: 270px;

  background-color: #cfcdd7;
  border: solid 12px #eff2f9;
  border-radius: 50%;
}

.offers__tab:nth-child(2) .offers__title {
  background-color: #cfcdd7;
  background-image: url("../img/offers-2-mobile.jpg");
  background-repeat: no-repeat;
}

.offers__title {
  min-height: 45px;
  margin: 0;
  padding: 42px 100px 16px 27px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #162451;

  background-position: right top;
  background-size: cover;
}

.offers__title-text {
  display: inline-block;
  margin: -10px 0 0 -11px;
  padding: 4px 12px 6px 9px;

  vertical-align: middle;

  background-color: #fbf239;
}

.offers__descr {
  margin: 0;
  padding: 20px 22px 0;

  font-weight: 300;
  color: #353535;
}

.offers__descr--stub {
  padding-top: 36px;
}

.offers__btn {
  display: block;
  width: 232px;
  margin: 24px auto 0;
  padding: 12px 20px;

  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #f0f2f9;

  background-color: #263b82;
  border: none;
}

.offers__btn:hover,
.offers__btn:focus {
  color: #fbf239;
}

.offers--interactive .offers__pin--active::after {
  content: "";
}

.offers--interactive .offers__pin-label::before {
  content: "";
}

.content {
  padding: 42px 24px 0;

  background-color: #eff2f9;
}

.content__pins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.content__pin {
  margin: 0 9px;
  padding: 2px 0;

  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #bfbfbf;

  background-color: transparent;
  border: none;
  border-bottom: solid 4px transparent;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content__pin:disabled {
  cursor: default;
}

.content__pin:active:not(:disabled) {
  opacity: 0.6;
}

.content__pin:hover,
.content__pin:focus,
.content__pin--active {
  color: #263b82;

  border-color: #fbf239;
}

.content__tabs {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.content__tab--interactive {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.content__tab--current {
  z-index: 2;

  opacity: 1;
}

.content__header {
  margin: 0;
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  color: #263b82;
}

.content__descr {
  margin: 6px 10px 9px 0;

  font-weight: 300;
  color: #373737;
}

.content__date {
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
}

.content__add {
  display: none;
  width: 264px;
  margin: 23px auto 17px;
  padding: 17px 31px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #123885;

  background-color: transparent;
  border: solid 3px #123885;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content__add:hover,
.content__add:focus {
  color: #fbf239;

  background-color: #123885;
}

.content-tab {
  padding: 24px 0 28px;
}

.content-tab__tabs {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.content-tab__pins {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 23px 30px 0;
  padding: 0;

  list-style: none;
}

.content-tab__pins-item {
  margin: 0 7px;
}

.content-tab__pin {
  width: 8px;
  height: 8px;
  padding: 0;

  font: inherit;

  background-color: #d8dbe6;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-tab__pin:hover:not(:disabled),
.content-tab__pin:focus,
.content-tab__pin.content-tab__pin--active {
  background-color: #263b82;
}

.content-tab__pin:disabled {
  cursor: default;
}

.content-tab__pin:active:not(:disabled) {
  opacity: 0.6;
}

.post {
  overflow-x: hidden;
}

.post__board {
  box-sizing: border-box;
  width: 100%;
  padding: 0 24px 28px;

  background-color: #ffffff;
}

.post__header {
  margin: 31px 42px 33px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #123885;
}

.post__closer {
  position: absolute;
  top: 26px;
  left: 17px;

  overflow: hidden;

  font: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post__closer:disabled {
  cursor: default;
}

.post__closer:active:not(:disabled) {
  opacity: 0.6;
}

.post__closer-content {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  width: 28px;
  height: 25px;

  white-space: nowrap;
  text-indent: 100px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat; 
  background-position: -58px -182px;
}

.post__closer:hover .post__closer-content,
.post__closer:focus .post__closer-content {
  background-position: -114px -182px;
}

.post__pins {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 28px;
  padding: 0;

  list-style: none;
}

.post__pins-item {
  box-sizing: border-box;
  width: 50%;
}

.post__pins-item:first-child .post__pin {
  border-radius: 20px 0 0 20px;
}

.post__pins-item:last-child .post__pin {
  border-radius: 0 20px 20px 0;
}

.post__pin {
  width: 100%;
  min-height: 34px;
  padding: 0 5px;

  font: inherit;
  font-size: 12px;
  line-height: 1;
  color: #263b82;

  background-color: transparent;
  border: solid 1px #97adef;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post__pin:hover:not(:disabled),
.post__pin:focus {
  color: #fbf239;

  background-color: #263b82;
  border-color: #263b82;
}

.post__pin:disabled {
  cursor: default;
}

.post__pin:active:not(:disabled) {
  opacity: 0.6;
}

.post__pin-content {
  position: relative;
  top: 0;
  left: 0;

  display: inline-block;

  vertical-align: middle;
}

.post__tabs {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.post__form {
  position: relative;

  padding: 30px 17px;

  background-color: #f0f2f9;
}

.post__section {
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;
}

.post__title {
  padding: 12px 0 11px;

  color: #757575;
}

.post__group {
  position: relative;
  z-index: 2;

  margin: 0 0 14px;
}

.post__group--half {
  display: flex;
  justify-content: space-between;
}

.post__group--half .post__field {
  width: calc(50% - 7px);
}

.post__group--select {
  position: relative;
}

.post__group--select::before {
  content: "";

  position: absolute;
  top: 27px;
  right: 16px;
  z-index: 2;

  border: solid 5px transparent;
  border-top: solid 6px #000000;
  border-bottom: none;

  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

  pointer-events: none;
}

.post__group--city::before {
  top: 25px;
  right: 17px;
  z-index: 2;

  box-sizing: border-box;
  width: 7px;
  height: 7px;

  border: none;
  border-bottom: solid 2px;
  border-left: solid 2px; 
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.post__group--interactive {
  box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
}

.post__group--interactive::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.post__group--interactive .post__field:focus {
  box-shadow: none;
}

.post__group--interactive .post__field::-moz-selection {
  background-color: transparent;
}

.post__group--interactive .post__field::selection {
  background-color: transparent;
}

.post__field {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 17px;

  font-weight: 500;
  font-size: 16px;
  font-family: inherit;

  border: solid 1px transparent;
  outline: none;

  transition: all 0.3s ease-in-out;
}

.post__field:focus {
  border-color: #97aeef;
  box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
}

.post__field:invalid {
  box-shadow: none;
}

.post__field:invalid:focus {
  box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
}

.post__field::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;

  opacity: 1;
}

.post__field:-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;

  opacity: 1;
}

.post__field::-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;

  opacity: 1;
}

.post__field::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;

  opacity: 1;
}

.post__field--select {
  padding-right: 34px;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.post__field--select:focus {
  border-color: #ffffff;
}

.post__field--select::-webkit-calendar-picker-indicator {
  display: none;
}

.post__field--city {
  background-color: #fcf448;
}

.post__field--city:focus {
  border-color: #fcf448;
}

.post__field--city::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.post__field--city:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.post__field--city::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.post__field--city::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.post__field--text {
  height: 110px;
  overflow: auto;

  resize: none;
}

.post__field[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.post__field[type="number"]::-webkit-outer-spin-button,
.post__field[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.post__descr {
  margin: 17px 0 26px;

  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #898989;
}

.post__descr::before {
  position: absolute;
  top: -13px;
  left: -40px;

  border: solid 14px transparent;
  border-bottom: solid 23px #fff42c;
}

.post__descr::after {
  position: absolute;
  top: 9px;
  left: -28px;

  font-weight: 500;
  font-size: 12px;
  color: #123885;
}

.post__submit {
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0 21px;
  padding: 19px;

  font: inherit;
  font-size: 16px;
  text-align: center;
  color: #263b82;

  background-color: transparent;
  border: solid 3px #123885;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-select: none;
}

.post__submit:hover:not(:disabled),
.post__submit:focus {
  color: #f0f2f9;

  background-color: #263b82;
  border-color: #263b82;
}

.post__submit:disabled {
  opacity: 0.3;
}

.post__submit:disabled {
  cursor: default;
}

.post__submit:active:not(:disabled) {
  opacity: 0.6;
}

.post__stub {
  padding: 30px 17px;

  text-align: center;

  background-color: #f0f2f9;
}

.post__opt-list {
  position: absolute;
  top: 56px;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 13px;

  box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
}

.post__opt-list--overflowed {
  height: 112px;
  overflow-y: auto;
}

.post__opt-item {
  padding: 17px;

  background-color: #ffffff;
}

.post__opt-item--selected {
  background-color: #fbf239;
}

.login__pin--active {
  color: #ffffff;

  background-color: #263b82;
  border-color: #263b82;
}

.login__tab--interactive {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.login__tab--current {
  z-index: 2;

  opacity: 1;
}

.feedback .post__pins-item {
  width: 33%;
}

.feedback__header {
  display: inline-block;
  margin-right: 12px; 

  vertical-align: middle;
}

.feedback__label {
  position: absolute;
  right: -10px;
  bottom: -57px;

  display: block;
  width: 183px;
  padding: 7px 11px;

  font-size: 12px;
  line-height: 14px;
  color: #fcfdff;

  background-color: #000000; 

  clip: rect(0 0 0 0);
}

.feedback__label::before {
  content: "";

  position: absolute;
  top: -16px;
  right: 12px;

  border: solid 9px transparent;
  border-bottom: solid 7px #000000;
}

.feedback__info {
  position: relative;
  z-index: 1;

  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;

  font: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: solid 2px #fbf239;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.feedback__info:disabled {
  cursor: default;
}

.feedback__info:active:not(:disabled) {
  opacity: 0.6;
}

.feedback__info:hover .feedback__label,
.feedback__info:focus .feedback__label {
  clip: auto;
}

.feedback__info-content {
  position: relative;
  top: 0;
  left: 0;

  font-weight: 500;
  color: #1c1c1c;
}

.feedback__pin--active {
  color: #ffffff;

  background-color: #263b82;
  border-color: #263b82;
}

.feedback__tab--interactive {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.feedback__tab--current {
  z-index: 2;

  opacity: 1;
}

.news__tab.hidden,
.publications__tab.hidden {
  display: block;

  opacity: 1;
}

.news__tab--interactive,
.publications__tab--interactive {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.news__tab--current,
.publications__tab--current {
  z-index: 2;

  opacity: 1;
}

.news__tab--interactive.hidden,
.publications__tab--interactive.hidden {
  display: none;

  opacity: 0;
}

.news__tab--interactive .content__header,
.publications__tab--interactive .content__header {
  padding: 0;
}

.news__pin--active,
.publications__pin--active {
  background-color: #263b82;
}

@media screen and (max-width: 779px) {
  /* Только мобильная версия */
  .menu__btn:hover .menu__btn-content--user,
  .menu__btn:focus .menu__btn-content--user {
    background-position: -255px -91px;
  }

  .menu__btn:hover .menu__btn-content--telephone,
  .menu__btn:focus .menu__btn-content--telephone {
    background-position: -136px -126px;
  }

  .menu__btn:hover .menu__btn-content--search,
  .menu__btn:focus .menu__btn-content--search {
    background-position: -256px 5px;
  }

  .content--interactive .content-tab__pins {
    display: flex;
  }
}

@media screen and (min-width: 780px) {
  /* Планшетная версия */
  .page-header__logo {
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 1;

    padding: 0;
  }

  .page-header__menu-opener {
    display: none;
  }

  .menu {
    display: block;

    color: #000000;
  }

  .menu__board {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: auto;
    padding: 0;

    background-color: transparent;
  }

  .menu__board--interactive {
    width: auto;
  }

  .menu__categories {
    flex-shrink: 1;
    order: 2;
    width: 19%;
    max-width: 260px;
    margin: 30px 0 25px auto;
    padding-right: 30px;
    padding-left: 10px;

    font-size: 20px;
  }

  .menu__category-link {
    color: #d2d2d2;

    opacity: 1;
  }

  .menu__category-link:hover,
  .menu__category-link:focus,
  .menu__category-link--active {
    color: #002672;
  }

  .menu__closer {
    display: none;
  }

  .menu__nav {
    order: 4;
    width: 100%;
    margin-bottom: 0;
  }

  .menu__services {
    order: 3;
    width: 130px;
    margin-top: 23px;
    margin-left: auto;
    padding-right: 5px;
  }

  .menu__btn-content {
    border-color: #eaeaea;
  }

  .menu__btn-content--user {
    background-position: -255px -91px;
  }

  .menu__btn-content--telephone {
    background-position: -136px -126px;
  }

  .menu__btn-content--search {
    background-position: -256px 5px;
  }

  .menu__btn:hover + .menu__label,
  .menu__btn:focus + .menu__label {
    clip: auto;
  }

  .menu__contacts {
    order: 1;
    width: 150px;
    margin: 26px 0 17px 256px;
    padding-right: 30px;
  }

  .menu__city-toggler::before {
    top: 1px;
    left: 6px;

    color: #000000;

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu__tel {
    margin-top: 1px;

    color: #686767;
  }

  .menu--interactive {
    position: relative;
    z-index: 0;

    width: 100%;
    height: auto;

    background-color: transparent;
  }

  .nav {
    text-align: center;

    background-color: #002672;
  }

  .nav__main {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
  }

  .nav__main-item {
    padding: 12px;

    border: none;
  }

  .nav__main-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;

    opacity: 0.8;
  }

  .nav__main-toggler {
    display: none;
  }

  .nav__main-sub-menu {
    display: none;
  }

  .nav__advanced {
    display: none;
  }

  .slider__tabs {
    background-color: #a8a19d;
  }

  .slider__tab {
    min-height: 589px;
    padding: 146px;

    background-color: #a8a19d;

    transition-duration: 1s;
  }

  .slider__tab::before {
    content: none;
  }

  .slider__tab:nth-child(3) {
    background-image: url("../img/slider-3.jpg");
    background-repeat: no-repeat;
  }

  .slider__title {
    display: table;
    margin: 0 auto 12px;
    padding-bottom: 13px;

    font-size: 83px;
    line-height: 67px;
  }

  .slider__descr {
    margin-bottom: 182px; 

    font-size: 21px;
    line-height: 22px;
  }

  .slider__btn {
    top: 39.5%;
  }

  .slider__btn--prev {
    left: 45px;
  }

  .slider__btn--next {
    right: 43px;
  }

  .slider__btn-content {
    width: 30px;
    height: 40px;
  }

  .slider__btn-content::before {
    box-sizing: border-box;
    width: 29px;
    height: 29px;

    border-bottom: solid 5px;
    border-left: solid 5px;
  }

  .slider--interactive .slider__pins {
    position: absolute;
    bottom: 224px;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 62px;
  }

  .offers {
    margin-top: -155px;

    background-color: #d8dbe6;
  }

  .offers__header {
    position: relative;
    z-index: 2;

    box-sizing: border-box;
    max-width: 1072px;
    margin: 0 auto;
    padding: 52px 200px 35px;

    font-size: 36px;
    line-height: 38px;
    color: #002672;

    background-color: #eff2f9;
  }

  .offers__pins {
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1072px;
    margin: 0 auto;

    background-color: #eff2f9;
  }

  .offers__pin {
    width: auto;
    max-width: 270px;
    margin: 0 15px;

    font-size: 18px;
    line-height: 40px;
  }

  .offers__pin::after {
    bottom: -19px;
  }

  .offers__pin--call {
    padding: 0;
  }

  .offers__pin-content {
    min-height: 62px;
    padding: 7px 0 7px 78px;
  }

  .offers__pin-content::before {
    position: absolute;
    top: 0;
    left: 0;
  }

  .offers__pin-label {
    position: relative;
  }

  .offers__pin-label::before {
    position: absolute;
    bottom: 10px;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 1px;

    border-bottom: dotted 1px #c9c9c9;
  }

  .offers__pin:hover .offers__pin-label::before,
  .offers__pin:focus .offers__pin-label::before,
  .offers__pin--active .offers__pin-label::before {
    content: none;
  }

  .offers__tabs {
    max-width: 952px;
    margin: 0 auto;
  }

  .offers__tab {
    position: relative;

    min-height: 254px;
    padding: 83px 0 95px 348px;
  }

  .offers__tab::before {
    content: "";
  }

  .offers__tab:nth-child(2)::before {
    background-image: url("../img/offers-2.jpg");
    background-repeat: no-repeat; 
    background-position: -157px -5px;
  }

  .offers__tab:nth-child(2) .offers__title {
    background-color: transparent;
    background-image: none;
  }

  .offers__title {
    width: 410px;
    padding: 0 0 16px 3px;

    font-weight: 700;
    font-size: 34px;
    line-height: 32px;
    color: #123885;
  }

  .offers__title-text {
    position: relative;

    margin: 0 0 0 -11px;
    padding: 0 12px 0 9px;

    box-shadow: 0 -11px 0 0 #fbf239;
  }

  .offers__title-text:first-child {
    z-index: 2;
  }

  .offers__title-text:nth-child(2) {
    z-index: 1;
  }

  .offers__title-text:nth-child(n+3) {
    box-shadow: 0 8px 0 0 #fbf239, 0 -11px 0 0 #fbf239;
  }

  .offers__descr {
    padding: 7px 70px 0 0;

    font-size: 16px;
    line-height: 20px;
    color: #323232;
  }

  .offers__btn {
    width: 344px;
    margin: 27px 0 0;
    padding: 17px 31px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #123885;

    background-color: transparent;
    border: solid 3px #123885;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .offers__btn:hover,
  .offers__btn:focus {
    color: #fbf239;

    background-color: #123885;
  }

  .content {
    padding-top: 54px;
  }

  .content__pin {
    padding-bottom: 9px;

    font-size: 26px;
    color: #123885;
  }

  .content__header {
    margin: 22px 0 13px;

    font-size: 18px;
    line-height: 22px;
    color: #123885;
  }

  .content__descr {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 22px;
    color: #343434;
  }

  .content__date {
    font-size: 14px;
    color: #c0c0c0;
  }

  .content-tab__tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1072px;
    margin: 0 auto;
  }

  .content-tab__tab {
    width: calc(33.333% - 21.333px);
    margin-right: 32px;
  }

  .content-tab__tab:nth-child(3n) {
    margin-right: 0;
  }

  .content--interactive .content-tab__pins {
    display: none;
  }

  .content--interactive .content__add {
    display: block;
  }

  .post__board {
    display: flex;
    flex-wrap: wrap;
    width: 704px;
    padding: 0 25px 31px;
  }

  .post__header {
    margin: 6px 20px 0 7px;

    font-weight: 700;
    font-size: 26px;
    line-height: 80px;
  }

  .post__closer {
    top: 12px;
    right: 15px;
    left: auto;

    width: 29px;
    height: 29px; 

    background-image: none;
  }

  .post__closer::before,
  .post__closer::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #000000;
  }

  .post__closer::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .post__closer::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .post__closer:hover:not(:disabled)::before,
  .post__closer:hover:not(:disabled)::after,
  .post__closer:focus::before,
  .post__closer:focus::after {
    background-color: #fbf239;
  }

  .post__closer-content {
    background-image: none;
  }

  .post__pins {
    width: auto;
    margin: 34px 8px 28px;
  }

  .post__pins-item {
    width: auto;
  }

  .post__pin {
    max-width: 200px;
    padding: 0 25px;

    font-size: 14px;
  }

  .post__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 35px;

    background-color: #eff2f9;
  }

  .post__section--half {
    width: calc(50% - 7px);
  }

  .post__section--half .post__group {
    width: 100%;
  }

  .post__section--request {
    margin-right: 14px;
  }

  .post__groups-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 12px;
  }

  .post__groups-wrapper .post__group,
  .post__groups-wrapper .post__group:nth-of-type(odd) {
    width: 29.49%;
    margin: 0;
  }

  .post__groups-wrapper .post__group:first-of-type {
    width: 37.864%;
  }

  .post__group {
    width: 282px;
    margin-bottom: 18px;
  }

  .post__group:nth-of-type(odd) {
    margin-right: 20px;
  }

  .post__descr {
    position: absolute;
    right: 32px;
    bottom: 24px;

    width: 130px;
    margin: 0;

    text-align: left;
  }

  .post__descr::before {
    content: "";
  }

  .post__descr::after {
    content: "!";
  }

  .post__submit {
    width: 273px;
    margin: 20px 0 0;

    font-weight: 500;
    font-size: 18px;
    color: #123885;
  }

  .feedback {
    width: 100%;
    max-width: 952px;
  }

  .feedback .post__pins-item {
    width: auto;
  }

  .feedback .post__form {
    padding: 36px;
  }

  .feedback .post__submit {
    width: 192px;
    margin: 30px 0 0;
  }

  .feedback__header {
    margin: 5px 20px 0 0;
  }

  .feedback__label {
    right: -12px;

    width: 228px;
    padding: 7px 0;
  }

  .feedback__info {
    top: 35px;
    left: -10px;

    width: 22px;
    height: 22px;
  }

  .feedback__info-content {
    top: 1px;
  }

  .feedback__pin {
    padding: 0 16px;
  }

  .news__tab--interactive.hidden,
  .publications__tab--interactive.hidden {
    display: block;

    opacity: 1;
  }
}

@media screen and (min-width: 860px) {
  /* Десктопная версия для узких мониторов */
  .menu__categories {
    width: 25%;
  }
}

@media screen and (min-width: 1072px) {
  /* Десктопная версия */
  .page-header__logo {
    left: calc(50% - 506px);
  }

  .menu__services {
    padding-right: calc(50% - 518px);
  }

  .menu__contacts {
    margin-left: calc(50% - 270px);
  }

  .offers__pins {
    padding: 0 60px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  /* Версия для браузеров на движке Blink */
  .slider__tab:nth-child(3) {
    background-image: url("../img/slider-3-mobile.webp");
  }

  .offers__tab:nth-child(2) .offers__title {
    background-image: url("../img/offers-2-mobile.webp");
  }
}

@media screen and (min-width: 780px) and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  /* Планшетная версия для браузеров на движке Blink */
  .slider__tab:nth-child(3) {
    background-image: url("../img/slider-3.webp");
  }

  .offers__tab:nth-child(2)::before {
    background-image: url("../img/offers-2.webp");
  }

  .offers__tab:nth-child(2) .offers__title {
    background-image: none;
  }
}
