<h2 class="post__header">
  Ошибка получения данных
</h2>
<button class="post__closer error__closer hidden" type="button">
  <span class="post__closer-content">
    Закрыть
  </span>
</button>
  <p class="error__message post__tabs post__stub">
    Ошибки пока не обнаружены.
  </p>
