<h2 class="post__header feedback__header">
  Обратная связь
</h2>
<button class="post__closer feedback-popup__closer hidden" type="button">
  <span class="post__closer-content">
    Закрыть
  </span>
</button>
<button class="feedback__info" type="button">
  <span class="feedback__info-content">
    ?
  </span>
  <span class="feedback__label">
    После обработки сообщения, с Вами свяжется наш менеджер
  </span>
</button>
<ul class="post__pins">
  <li class="post__pins-item">
    <button class="post__pin feedback__pin feedback__pin hidden" type="button">
      <span class="post__pin-content">
        Частный клиент
      </span>
    </button>
  </li>
  <li class="post__pins-item">
    <button class="post__pin feedback__pin feedback__pin--active hidden" type="button">
      <span class="post__pin-content">
        Юридическое лицо
      </span>
    </button>
  </li>
  <li class="post__pins-item">
    <button class="post__pin feedback__pin hidden" type="button">
      <span class="post__pin-content">
        Промо-офис
      </span>
    </button>
  </li>
</ul>
<ul class="post__tabs feedback__tabs">
  <li class="post__tab feedback__tab post__stub">
    Раздел «Частный клиент» в разработке.
  </li>
  <li class="post__tab feedback__tab feedback__tab--current">
    <form class="post__form" action="index.html" method="POST">
      <fieldset class="post__section">
        <legend class="visually-hidden">
          Персональные данные
        </legend>
        <div class="post__groups-wrapper">
          <p class="post__group">
            <input class="post__field" id="request-name" name="request-name" type="text" placeholder="Фамилия, Имя, Отчество" required>
            <label class="visually-hidden" for="request-name">
              Фамилия, Имя, Отчество
            </label>
          </p>
          <p class="post__group">
            <input class="post__field" id="request-tel" name="request-tel" type="tel" placeholder="Номер телефона" required>
            <label class="visually-hidden" for="request-tel">
              Номер телефона
            </label>
          </p>
          <p class="post__group">
            <input class="post__field" id="request-email" name="request-email" type="email" placeholder="Электронная почта" value="email@email.ru" required>
            <label class="visually-hidden" for="request-email">
              Электронная почта
            </label>
          </p>
        </div>
      </fieldset>
      <fieldset class="post__section">
        <legend class="post__title">
          Адрес подключения услуги
        </legend>
        <div class="post__groups-wrapper">
          <p class="post__group post__group--select post__group--city">
            <input class="post__field post__field--select post__field--city" id="city" name="city" type="text" placeholder="Выберите город" value="Санкт - Петербург" list="cities" required>
            <datalist class="post__options" id="cities">
              <option value="Санкт - Петербург">
              <option value="Москва">
            </datalist>
            <label class="visually-hidden" for="city">
              Выберите город
            </label>
          </p>
          <p class="post__group">
            <input class="post__field" id="street" name="street" type="text" placeholder="Улица" required>
            <label class="visually-hidden" for="street">
              Улица
            </label>
          </p>
          <p class="post__group post__group--half">
            <input class="post__field" id="house" name="house" type="number" min="1" placeholder="Номер дома" required>
            <label class="visually-hidden" for="house">
              Номер дома
            </label>
            <input class="post__field" id="flat" name="flat" type="number" min="1" placeholder="Квартира" required>
            <label class="visually-hidden" for="flat">
              Квартира
            </label>
          </p>
        </div>
      </fieldset>
      <fieldset class="post__section post__section--half post__section--request">
        <legend class="post__title">
          Тип обращения
        </legend>
        <p class="post__group post__group--select">
          <input class="post__field post__field--select" id="request-type" name="request-type" type="text" placeholder="Выберите тип услуги" list="request-types" required data-size="2">
          <datalist class="post__options" id="request-types">
            <option value="Интернет">
            <option value="Телефония">
            <option value="Каналы передачи данных">
          </datalist>
          <label class="visually-hidden" for="request-type">
            Выберите тип услуги
          </label>
        </p>
      </fieldset>
      <fieldset class="post__section post__section--half">
        <legend class="post__title">
          Тема обращения
        </legend>
        <p class="post__group post__group--select">
          <input class="post__field post__field--select" id="request-theme" name="request-theme" type="text" placeholder="Выберите тему" list="request-themes" required>
          <datalist class="post__options" id="request-themes">
            <option value="Общая">
          </datalist>
          <label class="visually-hidden" for="request-theme">
            Выберите наиболее подходящую тему
          </label>
        </p>
      </fieldset>
      <fieldset class="post__section">
        <textarea class="post__field post__field--text" id="text" name="text" placeholder="Текст обращения" required></textarea>
        <label class="visually-hidden" for="text">
          Текст обращения
        </label>
      </fieldset>
      <p class="post__descr">
        Все поля обязательны для заполнения
      </p>
      <button class="post__submit" type="submit">
        Отправить
      </button>
    </form>
  </li>
  <li class="post__tab  feedback__tab post__stub">
    Раздел «Промо-офис» в разработке.
  </li>
</ul>
