<ul class="content-tab__tabs news__tabs">
  <li class="content-tab__tab news__tab">
    <h3 class="content__header">
      «ПРОСТО Телеком» приступает к оказанию услуг телефонии в Пензе
    </h3>
    <p class="content__descr">
      Корпоративные клиенты в Пензе теперь могут приобрести городские телефонные номера у оператора связи "ПРОСТО Телеком"
    </p>
    <time class="content__date" datetime="2014-11-14">
      7 ноября 2014
    </time>
  </li>
  <li class="content-tab__tab news__tab news__tab--current">
    <h3 class="content__header">
      Компания «ПРОСТО Телеком» отмечает свой день рождения
    </h3>
    <p class="content__descr">
      17 лет назад в Петербурге была основана компания "ПРОСТО Телеком". За эти годы компания  из небольшого интернет-провайдера превратилась в универсального оператора связи федерального масштаба.
    </p>
    <time class="content__date" datetime="2014-11-14">
      14 ноября 2014
    </time>
  </li>
  <li class="content-tab__tab news__tab">
    <h3 class="content__header">
      Осенью подключение пакета «Интернет + Телефон» бесплатно!
    </h3>
    <p class="content__descr">
      С 15 сентября корпоративные клиенты в Пензе могут бесплатно подключить пакет "Интернет + Телефон"
    </p>
    <time class="content__date" datetime="2014-11-14">
      21 ноября 2014
    </time>
  </li>
</ul>
<ul class="content-tab__pins">
  <li class="content-tab__pins-item">
    <button class="content-tab__pin news__pin" type="button" disabled>
      <span class="visually-hidden">
        Материал 1
      </span>
    </button>
  </li>
  <li class="content-tab__pins-item">
    <button class="content-tab__pin news__pin news__pin--active" type="button" disabled>
      <span class="visually-hidden">
        Материал 2
      </span>
    </button>
  </li>
  <li class="content-tab__pins-item">
    <button class="content-tab__pin news__pin" type="button" disabled>
      <span class="visually-hidden">
        Материал 3
      </span>
    </button>
  </li>
</ul>
<a class="content__add" href="#">
  Ещё новости
</a>
