
<h3 class="offers__header">
  Выгодные предложения для различных направлений бизнеса:
</h3>
<ul class="offers__pins">
  <li class="offers__pins-item">
    <button class="offers__pin" type="button" disabled>
      <span class="offers__pin-content offers__pin-content--retail">
        <span class="offers__pin-label">
          Ритейл
        </span>
      </span>
    </button>
  </li>
  <li class="offers__pins-item">
    <button class="offers__pin offers__pin--active" type="button" disabled>
      <span class="offers__pin-content offers__pin-content--wifi">
        <span class="offers__pin-label">
          Организация Wi Fi зон
        </span>
      </span>
    </button>
  </li>
  <li class="offers__pins-item">
    <button class="offers__pin offers__pin--call" type="button" disabled>
      <span class="offers__pin-content offers__pin-content--call">
        <span class="offers__pin-label">
          Call-центры
        </span>
      </span>
    </button>
  </li>
  <li class="offers__pins-item">
    <button class="offers__pin" type="button" disabled>
      <span class="offers__pin-content offers__pin-content--logistic">
        <span class="offers__pin-label">
          Логистика
        </span>
      </span>
    </button>
  </li>
</ul>
<ul class="offers__tabs">
  <li class="offers__tab">
    <p class="offers__descr offers__descr--stub">
      Раздел «Ритейл» в разработке.
    </p>
  </li>
  <li class="offers__tab offers__tab--current">
    <h4 class="offers__title">
      <span class="offers__title-text">
        Удобный
      </span>
      <span class="offers__title-text">
        интернет-серфинг
      </span>
      <span class="offers__title-text">
        в общественных
      </span>
      <span class="offers__title-text">
        местах
      </span>
    </h4>
    <p class="offers__descr">
      Зоны свободного доступа в интернет для посетителей кафе, ресторанов, салонов красоты и других заведений
    </p>
    <a class="offers__btn" href="#">
      Запросить коммерческое предложение
    </a>
  </li>
  <li class="offers__tab">
    <p class="offers__descr offers__descr--stub">
      Раздел «Call-центры» в разработке.
    </p>
  </li>
  <li class="offers__tab">
    <p class="offers__descr offers__descr--stub">
      Раздел «Логистика» в разработке.
    </p>
  </li>
</ul>
