
<h2 class="visually-hidden">
  Слайдер
</h2>
<ul class="slider__tabs">
  <li class="slider__tab">
    <h3 class="slider__title">
      Крупный бизнес
    </h3>
    <p class="slider__descr">
      от идеи до воплощения 2 месяца
    </p>
  </li>
  <li class="slider__tab">
    <h3 class="slider__title">
      Средний бизнес
    </h3>
    <p class="slider__descr">
      от идеи до воплощения 2 недели
    </p>
  </li>
  <li class="slider__tab slider__tab--current">
    <h3 class="slider__title">
      Малый бизнес
    </h3>
    <p class="slider__descr">
      от идеи до воплощения 3 дня
    </p>
  </li>
  <li class="slider__tab">
    <h3 class="slider__title">
      Индивиду&shy;альные предприни&shy;матели
    </h3>
    <p class="slider__descr">
      от идеи до воплощения 1 день
    </p>
  </li>
</ul>
<button class="slider__btn slider__btn--prev hidden">
  <span class="slider__btn-content">
    Предыдущий слайд
  </span>
</button>
<button class="slider__btn slider__btn--next hidden">
  <span class="slider__btn-content">
    Следующий слайд
  </span>
</button>
<ul class="slider__pins">
  <li class="slider__pins-item">
    <button class="slider__pin" type="button">
      <span class="visually-hidden">
        Слайд 1
      </span>
    </button>
  </li>
  <li class="slider__pins-item">
    <button class="slider__pin" type="button">
      <span class="visually-hidden">
        Слайд 2
      </span>
    </button>
  </li>
  <li class="slider__pins-item">
    <button class="slider__pin" type="button">
      <span class="visually-hidden">
        Слайд 3
      </span>
    </button>
  </li>
  <li class="slider__pins-item">
    <button class="slider__pin" type="button">
      <span class="visually-hidden">
        Слайд 4
      </span>
    </button>
  </li>
</ul>
